{%extends 'base.html'%}

{%block title%}Editar producto{%endblock%}


{%block content%}
<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Bienvenido Hans Saldias</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('vista_agregar')}}">Agregar producto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('vista_editar')}}">Editar producto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('vista_borrar')}}">Eliminar producto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('dashboard')}}">Menu administrador</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('logout')}}">Salir</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Created by Hans Sadias</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
{%if resultado%}
<div class="container">
    <center><h1 class="h1 p-3">Editar producto</h1>

      <div>
        <center><button class="btn" style="background-color: black; color:aliceblue;">
            <a class="nav-link" href="{{url_for('dashboard')}}">Volver al menu</a>
        </button></center>
    </div>
    <br class="p-4">
      <center>
        <table class="table" BORDER>
          <tr>
            <th>ID</th>
            <th>Modelo</th>
            <th>Marca</th>
            <th>Repuesto</th>
            <th>Precio</th>
          </tr>
      {%for i in resultado%}
          <tr>
            <td>{{i[0]}}</td>
            <td>{{i[1]}}</td>
            <td>{{i[2]}}</td>
            <td>{{i[3]}}</td>
            <td>{{i[4]}}</td>
          </tr>
      {%endfor%}
        </table>
      </center>
</center>
</div>
{%else%}

<center><h2>No se encontraron articulos</h2></center>

{%endif%}

<div class="container">
    <form action="/editar" class="container" method="POST">
        <label class="form-control text-center" for="">ID</label>
        <input class="form-control text-center" type="text" name="id" id="id" placeholder="Ingrese id del modelo a actualizar" required>
        <br>
        <label class="form-control text-center" for="">Modelo</label>
        <input class="form-control text-center" type="text" name="modelo" id="modelo" placeholder="Ingrese nuevo modelo" required>
        <br>
        <label class="form-control text-center" for="">Marca</label>
        <input class="form-control text-center" type="text"  name="marca" id="marca" placeholder="Ingrese nueva samsung etc" required>
        <br>
        <label class="form-control text-center" for="">repuesto</label>
        <input class="form-control text-center" type="text"  name="repuesto" id="repuesto" placeholder="ingrese nuevo repuesto" required>
        <br>
        <label class="form-control text-center" for="">Precio</label>
        <input class="form-control text-center" type="number" step="0.01"  name="precio" id="precio" placeholder="nuevo precio $45000" required>
        <br>
        <center><button class="btn text-center" style="background-color: black; color:aliceblue" type="submit">Editar</button></center>
    </form>
</div>

{%if mensaje%}
<div class="container p-5">
    <center><h2>{{mensaje}}</h2></center>
</div>
{%endif%}

{%endblock%}